<div class="container">
  <div class="login-container">
    <div class="login-header">
      <h2>Iniciar sesión</h2>
      <hr>
      <img src="assets/login.png" alt="logo" class="logo">
    </div>
    <div class="wrapper">
      <form>
        <label>Usuario:</label>
        <input type="text" [(ngModel)]="credenciales.username" name="username" placeholder="Ingresar usuario">
        <br>
        <label>Contraseña:</label>
        <input type="password" [(ngModel)]="credenciales.password" name="password" placeholder="Ingresar contraseña">

        <button type="submit" (click)="iniciarSesion()">Iniciar sesión</button>
      </form>
    </div>
    <div class="login-footer">
      <p>¿No tiene una cuenta?</p>
      <a href="/signin" class="primary__button">
        Regístrese aquí
      </a>
    </div>
  </div>
</div>