.sidenav{
  width: 300px;
}
.menu {
  flex: 1 1 auto;
}
.name{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* mueve el nombre hacia el centro */
  margin-left: 40%;
}