<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <span>MEDICIÓN DE TRUCHAS ARCOIRIS UdeC</span>
  <span class="example-spacer"></span>
  <button mat-icon-button matTooltip="Iniciar Sesión"  class="example-icon favorite-icon" aria-label="" routerLink="/login">
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Menú" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/signin">
      <mat-icon>app_registration</mat-icon>
      <span>Registrarse</span>
    </button>
    <button mat-menu-item routerLink="/profile">
      <mat-icon>account_box</mat-icon>
      <span>Mi Perfil</span>
    </button>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Cerrar Sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #sidenav class="example-sidenav" mode="side">
    <button mat-menu-item routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
    <button mat-menu-item routerLink="/peces">
      <mat-icon>photo</mat-icon>
      <span>Peces</span>
    </button>
    <button mat-menu-item routerLink="/contacto">
      <mat-icon>contact_support</mat-icon>
      <span>Contacto</span>
    </button>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>